.div1 {
  margin: 20px;
}
.par {
  height: 50px;
  width: 120px;
  background: none;
  border: 2px solid black;
  font-size: 20px;
  border-radius: 10px;
}

.par:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.par1 {
  margin-left: 10px;
  background-color: black;
  color: white;
  height: 50px;
  width: 120px;
  border: 2px solid black;
  font-size: 20px;
  border-radius: 10px;
}
.par1:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/* home */

.allpicture {
  background-image: url("1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: aqua;
  margin: auto;
  width: 80%;
  height: 70vh;
  border-radius: 10px;
}
.allpicture h1 {
  font-family: sans-serif;
  margin: auto;
  width: 60%;
  color: white;
  padding-top: 60px;
  font-size: 50px;
}
.nextdiv {
  margin: auto;
  background-color: white;
  width: 70%;
  height: 20vh;
  margin-top: -60px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}
.allinput {
  display: inline-block;
  margin-left: 10px;
}
.allinput label {
  position: relative;
  top: 30px;
  left: 50px;
  color: rgb(88, 88, 88);
  font-family: sans-serif;
  margin-left: 20px;
}
.allinput input {
  position: relative;
  top: 40px;
  left: 50px;
  font-family: sans-serif;
  border: none;
  border-bottom: 1px solid black;
  margin-left: 20px;
}

.allinput input:focus {
  border: none;
}

.poplar {
  margin: auto;
  width: 80%;
  font-family: sans-serif;
  margin-top: 10%;
}
.image {
  display: flex;
  margin: auto;
  width: 90%;
  font-family: sans-serif;
}
.image img {
  margin-left: 60px;
  width: 260px;
  border-radius: 10px;
}
.flexdiv {
  font-family: sans-serif;
  display: flex;
  text-align: center;
  margin: auto;
  width: 80%;
  margin-top: 10%;
}
.flexdivp p {
  margin: auto;
  width: 70%;
  text-align: center;
}
.flightimg {
  background-image: url("8.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
  width: 80%;
  height: 50vh;
  border-radius: 10px;
  color: white;
  font-family: sans-serif;
}
.flightimg h1 {
  margin: 20px;
  margin: auto;
  width: 80%;
  position: relative;
  top: 50px;
}
.flightimg h2 {
  width: 50%;
  margin: auto;
  position: relative;
  top: 100px;
  right: 15%;
}

.flightimg button {
  width: 20%;
  margin: auto;
  position: relative;
  top: 120px;
  left: 10%;
  height: 50px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
}

/* footrer */
.fottert {
  width: 100%;
  height: 40vh;
  background-color: rgb(0, 150, 136);
  justify-content: space-between;
  display: flex;
}
.fottert h1 {
  margin: 60px;
  width: 20%;
  font-size: 40px;
  color: white;
  font-family: sans-serif;
}
.nextdiv1 {
  margin-right: 20px;
  color: white;
  font-family: sans-serif;
  margin: 50px;
}

/* add details */

.background1 {
  width: 100%;
  background-color: rgb(245, 247, 249);
  display: flex;
}

.alldatas {
  width: 12.5%;
  font-family: sans-serif;
  margin: 80px;
}
.alldatas h5 {
  font-size: 20px;
}
.alldatas input {
  width: 250px;
  height: 40px;
  border: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 20px;
}
.alldatas input:focus,
.alldatas input:active {
  border: none;
  outline: none;
}
.button1 {
  margin-top: 10px;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(11, 11, 95);
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.Details {
  width: 150%;
  margin: auto;
  background-color: white;
  margin-top: 8%;
  box-shadow: 10px 10px 20px 0px rgb(175, 175, 175);
  margin-left: 120px;
  border-radius: 10px;
}
.dipalflex {
  display: flex;
  justify-content: space-between;
}
.h1tages {
  font-family: Gelion, Helvetica, Helvetica Neue, Arial;
  text-align: center;
  margin: 10px;
}
.h1tages p {
  color: rgb(165, 165, 165);
}

.line2 {
  margin-top: 8%;
  width: 8%;
  height: 2px;
  background-color: rgb(165, 165, 165);
}
.line3 {
  position: absolute;
  height: 20%;
  width: 2px;
  background-color: rgb(165, 165, 165);
}
.button {
  padding: 5px;
  text-align: center;
}

.button button {
  background-color: rgb(0, 150, 136);
  font-size: 20px;
  border: none;
  height: 60px;
  width: 180px;
  border-radius: 10px;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
}
.image1 {
  margin-top: 40px;
}
.image1 p {
  color: rgb(165, 165, 165);
  font-family: sans-serif;
  text-align: center;
}
/* POPup */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
}

.popup {
  background: white;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.closebutton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
}
.backgrounddata {
  width: 550px;
  background-color: rgb(245, 247, 249);
}

/* Conformnation Page */

.line5 {
  margin: auto;
  width: 32%;
  margin-left: 160px;
  height: 3px;
  margin-top: 50px;
  background-color: rgb(0, 150, 136);
}
.line6 {
  margin: auto;
  width: 48%;
  margin-left: 650px;
  height: 3px;
  background-color: rgb(221, 221, 221);
}
.button8 {
  margin-right: 10%;
  position: relative;
  top: -35px;
  left: 14%;
  background-color: rgb(0, 150, 136);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: 25px;
  border: none;
  font-family: sans-serif;
  color: white;
}
.button9 {
  margin-right: 12.4%;
  position: relative;
  top: -35px;
  left: 15%;
  background-color: rgb(0, 150, 136);
  border-radius: 100%;
  width: 60px;
  height: 60px;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  border: 0px solid transparent;
  animation: button9 3s ease-out infinite;
}

@keyframes button9 {
  100% {
    border-width: 5px;
    border-color: gb(191, 229, 225);
  }
  50% {
    border-width: 8px;
    border-color: rgb(191, 229, 225);
  }
  25% {
    border-width: 8px;
    border-color: gb(191, 229, 225);
  }
  0% {
    border-width: 5px;
    border-color: transparent;
  }
}

.divdata {
  font-family: sans-serif;
  width: 15%;
}
.flexbox1 {
  display: inline-flex;
  width: 80%;
  margin-left: 10%;
}
.divdata1 {
  margin-left: 80px;
  border-radius: 10px;
  width: 25%;
  height: 400px;
  border: 2px solid rgb(0, 150, 136);
  font-family: sans-serif;
  padding: 20px;
}

.line10 {
  width: 90%;
  margin: auto;
  height: 1px;
  margin-top: -20px;
  background-color: rgb(173, 173, 173);
}
.h1p p {
  color: rgb(137, 137, 137);
}
.h1p1 {
  display: flex;
  justify-content: space-between;
}
.h1p1 button {
  width: 120px;
  margin-top: 10px;
  height: 40px;
  background-color: rgb(0, 150, 136);
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.footer1 {
  position: relative;
  top: 50px;
}

/*details */
.line7 {
  margin: auto;
  width: 45%;
  margin-left: 160px;
  height: 3px;
  margin-top: 50px;
  background-color: rgb(0, 150, 136);
}

.line8 {
  margin: auto;
  width: 30%;
  margin-left: 880px;
  height: 3px;
  background-color: rgb(221, 221, 221);
}

.flexbox5 {
  display: flex;
  margin-top: 50px;
}
.datashow {
  position: relative;
  font-size: 20px;
  margin-left: 120px;
  font-family: sans-serif;
}
.flexbox6 label {
  line-height: 50px;
}
.flexbox6 input {
  font-size: 20px;
  width: 500px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid black;
}

.flexbox6 {
  margin-right: 80px; /* Add margin to the right of the first .flexbox6 element */
}

.flexbox6 + .flexbox6 {
  margin-left: 80px; /* Add margin to the left of the second .flexbox6 element */
}

.checkboxall {
  margin-left: 20px;
  font-size: 10px;
}
.flexbo8 {
  display: flex;
}
.flexbo9 {
  margin-left: 120px;
  height: 150px;
  background-color: rgb(245, 247, 249);
  margin: auto;
  width: 80%;
  padding: 20px;
  position: relative;
  margin-top: 50px;
  font-family: sans-serif;
  border-radius: 10px;
}
.left {
  margin-left: 160px;
}
.button2 {
  margin-left: 120px;
}
.button2 button {
  width: 150px;
  height: 50px;
  margin-top: 30px;
  border: 5px;
  border-radius: 10px;
  background-color: rgb(0, 150, 136);
  color: white;
  font-size: 20px;
}
.showdown {
  margin-top: 50px;
}
.leftside {
  width: 15%;
  margin-left: 120px;
}

/* next line */

.flebox24 {
  display: inline-flex;
}

.image2 {
  width: 100%;
  max-width: 350px;
  height: 60vh;
  border: 1px solid rgb(0, 150, 136);
  border-radius: 10px;
  text-align: center;
  font-family: sans-serif;
  margin-left: 80px;
}
.image2 img {
  width: 90%;
  align-items: center;
}
.image2 button {
  width: 40%;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  background-color: rgb(0, 150, 136);
  margin-top: -10px;
  cursor: pointer;
}
.image2 button:hover {
  background-color: rgb(13, 80, 73);
}

.image3 {
  width: 100%;
  max-width: 350px;
  height: 60vh;
  border: 1px solid rgb(0, 150, 136);
  border-radius: 10px;
  text-align: center;
  font-family: sans-serif;
  position: relative;
  left: 70px;
}
.image3 img {
  width: 90%;
  align-items: center;
}
.image3 button {
  width: 40%;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  background-color: rgb(0, 150, 136);
  margin-top: -10px;
  cursor: pointer;
  position: relative;
  top: 75px;
}

.footer {
  margin-top: 50px;
}
.table {
  margin: auto;
  max-width: 80%;
  height: 360px;
  border: 1px solid black;
  border-radius: 10px;
}
.flexbox5 {
  display: flex;
  margin: auto;
  width: 100%;
  margin-top: 80px;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  text-align: center;
}
.line85 {
  width: 33%;
  height: 2px;
  background-color: aqua;
}
.flexbox6{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 50px;
}
.borderbocx{
  width: 40%;
  border: 1px solid black;
  margin-left: 150px;
  font-family: sans-serif;
  font-weight: 300;
  border-radius: 10px;
}
.boundary{
  width: 40%;
  border: 1px solid black;
  text-align: center;
  font-size: 40px;
  margin-right: 70px;
  border-radius: 10px;
  font-family: sans-serif;
 }
 .image25{
    width: 70%;
    margin-top: 20px;
 }
 .allbox{
  margin: 60px;
  width: 30%;
 }
 .footerdata{
  position: relative;
  top: 100px;
 }
 .backbround{
  float: right;
  position: relative;
  top: 80px;
  right:  150px;
  font-size: 50px;
 }
 .backbround button{
  width: 250px;
  height: 80px;
  margin: 50px;
  background-color: rgb(0, 150, 136);
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 10px;
 }
 .lastpage{
  margin: auto;
  text-align: center;
  max-width: 40%;
  font-family: sans-serif;
  align-items: center;
 }
 .image6{
   margin-top: 20px;
 }